@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    background-color: rgb(5,6,16);
  }
  @font-face{
    font-family: 'MarsAttacks';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/MarsAttacks/MarsAttacks.ttf');
  }
  @font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Zebulon/Zebulon-Condensed.ttf');
  }
  @font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Zebulon/Zebulon-Condensed-Bold.ttf');
  }
  @font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Zebulon/Zebulon-Condensed-Bold-Italic.ttf');
  }
  @font-face {
    font-family: 'Zebulon-Condensed';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/Zebulon/Zebulon-Condensed-Italic.ttf');
  }
  /* ZEBULON CONDENSED HOLLOW */
  @font-face {
    font-family: 'Zebulon-Condensed-Hollow';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Zebulon/Zebulon-Condensed-Hollow.ttf');
  }
  @font-face {
    font-family: 'Zebulon-Condensed-Hollow';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Zebulon/Zebulon-Condensed-Hollow-Bold.ttf');
  }
  @font-face {
    font-family: 'Zebulon-Hollow';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Zebulon/Zebulon-Hollow-Bold-Italic.ttf');
  }
  @font-face {
    font-family: 'Zebulon-Hollow';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/Zebulon/Zebulon-Hollow-Italic.ttf');
  }

  @font-face {
    font-family: 'Zebulon';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Zebulon/Zebulon\ Bold\ Italic.ttf');
  }
  @font-face {
    font-family: 'Zebulon';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Zebulon/Zebulon.ttf');
  }
  @font-face {
    font-family: 'Zebulon';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/Zebulon/Zebulon-Italic.ttf');
  }
  @font-face {
    font-family: 'Oxanium';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/Oxanium/Oxanium-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Oxanium';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Oxanium/Oxanium-Light.ttf');
  }
  @font-face {
    font-family: 'Oxanium';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Oxanium/Oxanium-Regular.ttf');
  }
  @font-face {
    font-family: 'Oxanium';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Oxanium/Oxanium-Medium.ttf');
  }
  @font-face {
    font-family: 'Oxanium';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Oxanium/Oxanium-SemiBold.ttf');
  }
  @font-face {
    font-family: 'Oxanium';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Oxanium/Oxanium-Bold.ttf');
  }
  @font-face {
    font-family: 'Oxanium';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/Oxanium/Oxanium-ExtraBold.ttf');
  }
  progress::-webkit-progress-bar{
    background-color: rgb(5,6,16);
  }
  progress::-webkit-progress-value{
    background-color: rgb(174,82,227);
  }
}

@layer utilities{
  .inner-glow-secondary {  
    box-shadow: inset 0 0 15px #1de9b6da;
  }
  .inner-glow-primary {  
    box-shadow: inset 0 0 15px rgb(174,82,227);
  }
}